/* Density interval from Symphony guidelines. */
$density-interval: 4;
$density-1: -1;
$density-2: -2;
$density-3: -3;

$button-height: 32px;

@function get-density($height, $scale) {
  @return $height + $density-interval * $scale * 1px;
}