$tk-button-height: 32px;

@include condensed('.tk-button', 'height', $tk-button-height, $density-2);

.tk-button {
  font-size: toRem(12);
  display: inline-block;
  border: none;
  border-radius: toRem(28);
  padding: toRem(0) toRem(16);
  letter-spacing: toRem(0.5);
  text-transform: uppercase;
  text-align: center;
  width: auto;
  height: $tk-button-height;
  white-space: nowrap;
  margin-top: 8px;
  margin-bottom: 8px;

  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    pointer-events: all;
  }

  &:focus {
    @include addOutline();
  }

  @include styleFilledButton($--tk-button-color-primary);

  &--primary {
    @include styleFilledButton($--tk-button-color-primary);
  }
  &--secondary {
    @include styleOutlinedButton($--tk-button-color-secondary);
  }
  &--tertiary {
    @include styleFilledButton($--tk-button-color-tertiary);
  }
  &--destructive {
    @include styleFilledButton($--tk-button-color-destructive);
  }
  &--icon {
    border-radius: 50%;
    min-width: toRem(32);
  }
}
